<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Main Rule-1" stopProcessing="true">
                    <match url="([\S]+[.](ogg|ogv|svg|svgz|eot|otf|woff|mp4|ttf|css|rss|atom|js|jpg|jpeg|gif|png|ico|zip|tgz|gz|rar|bz2|docx|xlsx|exe|ppt|tar|mid|midi|wav|bmp|rtf|pdf|odt|xlsx|ods|pptx|aif|txt|csv|odt|cda|mp3|mpa|wpl|7z|arj|tiff|tex|java|xlr|ttf|otf|mdb|dat|sql|xml|jar|bat|sav|bin|log|db|mdf|py|com|fnt|fon|ps|psd|php|xhtml|odp|vb|cgi|sh|jsp|ini|bak|dmp|tmp|sys|wpd|dbx|eml|pst|ldif|mht|msg|vcf|ost
                        ))" ignoreCase="true" />
                    <action type="Rewrite" url="mainadminhtml/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="acg" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUESTFILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUESTFILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="mainadminhtml/index.php?_url=/{R:1}" appendQueryString="true" logRewrittenUrl="false" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension" />
    </system.webServer>
</configuration>

