
.formelementmain {
    padding: 30px 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #cccc;
    margin: 20px 0;
    float: left;
    width: 100%;
}
/*################ Pagination Start ######################*/
.paginationmn .paginateul{float: left;padding: 0px;margin: 0px auto}
.paginationmn .pagination ul li.inactive,
.paginationmn .pagination ul li.inactive:hover{background-color:#ededed;
color:#bababa; border:1px solid #bababa; cursor: default;}
.paginationmn .data ul li{ list-style: none; font-family: verdana; margin: 5px 0 5px 0; color: #000;font-size: 13px;}
.paginationmn .pagination{width: 100%;margin: 0px auto; /*height: 25px;*/}
.paginationmn .pagination ul li{
    list-style: none;
    float: left;
    border: 1px solid #5d6677;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial;
    font-size: 14px;
    color: #5d6677;
    font-weight: bold;
    background-color: #f2f2f2;
    width: auto !important;
    cursor: pointer;
}
.floatright { float: right;}
.tradeplanview {background-color: #fff; padding:10px;}
.fa-edit{ cursor: pointer;}
.margintop { margin-top: 90px;}
.fa-trash-o{cursor: pointer;}
/*.inputbox3 , .selectbox4 {margin-top : 20px !important;}*/
 .selectbox5 { margin-top :40px !important;}
.inputbox5 { margin-top: 60px !important;}

.typography.form_pad {
  /*  background: #fff;*/
    /*padding: 19px 12px;
    box-shadow: 2px 3px 5px #ccc;*/
    margin: 10px 0;
}
input#d2ques1 {
    margin: 20px 0;
}
input#d1ques1 {
    margin: 20px 0;
}

div#appenddiv1 {
    width: 100%;
    float: left;
}

.append_row3 {
    width: 100%;
    float: left;
} 

tr,td {
    padding: 8px;

}

.tooltip_c {
  display: inline;
  position: relative;
}
/*.tooltip_c:hover:after{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background:red;
  border-radius: 8px;
  color: #fff;
  content: attr(title);
  margin: -82px auto 0;
  font-size: 16px;
  padding: 13px;
  width: 220px;
}*/
label.gender {
    display: block;
}
.tooltip_c:hover:after {
    -webkit-justify-content: center;
    justify-content: center;
    background: white;
    border-radius: 8px;
    color: #fff;
    content: attr(data);
    margin: -82px auto 0;
    font-size: 14px;
    padding: 13px;
    width: 600px;
    position: absolute;
    right: 0px;
    z-index: 999;
    color: #000;
    border: 1px solid #ccc;
    text-align: justify;
    top: 110px;
    box-shadow: 2px 1px 8px #ccc;
}
.tooltip_c:hover:before {
    border: solid;
    border-color: #a0a0a0 transparent;
    border-width: 12px 9px 0 9px;
    content: "";
    left: 45%;
    bottom: -7px;
    position: absolute;
    transform: rotate(180deg);
    z-index: 99;
}
a.tooltip_c {
    text-align: right;
    float: right;
    font-size: 16px;
    margin-right: 0;
    font-size: 16px;
    color: #034383;
}

.mainelementfom {
    margin-top: 65px;
}

.h1_heading {
    text-align: left;
}

/*.belowleveluserdetcss {
    position: relative;
    padding: 15px;
    background: #fff;
    border: 1px solid rgb(216, 216, 216);
    box-shadow: 0 0 10px #00000059;
    margin-bottom: 20px;
}*/

.h2_heading
{
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}

.h3_heading
{
    color: #000;
    margin-bottom: 10px;
    padding-left: 15px;
    margin-top: 30px;
        font-size: 16px;
}

.create_button a button
{
    margin: 0;
    margin-bottom: 18px;
    margin-top: 10px;
}
table.table.tablevertical
{
    width: fit-content;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
}

table.table.tablevertical thead
{
    display: block;
    float: left;
}

table.table.tablevertical thead tr
{
    display: block;
    border-bottom: none;
    padding: 0;
}

table.table.tablevertical thead tr th
{
    display: block;
    text-align: right;
}

table.table.tablevertical  tbody
{
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
}

table.table.tablevertical  tbody tr
{
    display: inline-block;
    vertical-align: top;
    padding: 0;
}

table.table.tablevertical  tbody tr td
{
    display: block;
    min-height: 1.25em;
    text-align: left;
    margin: 0;
    vertical-align: top;
}

.modalform .belowleveluserdetcss {
    position: relative;
    padding: 15px;
    border: 0px solid rgb(216,216,216);
    box-shadow: 0 0 0px #00000000;
    margin-bottom: 0px;
}