.formelementmain {
    padding: 30px 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #cccc;
    margin: 20px 0;
}

tbody.appendrow {
    background: #fff;
}

.control-label.btnsubmitme.cntrol_tab_one {
    float: left;
    margin-top: 20px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 5px 0;
    margin-top: 1px 9;
    line-height: normal;
}

.header-search-wrapper {
    width: 100%;
    *height: 40px;
    display: block;
    position: relative;
    max-width: 500px;
}

.header-search-wrapper .fa-search {
    position: absolute;
    font-size: 18px;
    top: 10px;
    left: 10px;
    line-height: normal;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    height: auto;
}

#search-box.header-search-input,
#search-box1.header-search-input1 {
    display: block;
    padding: 7.5px 7px 7.5px 40px;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    margin: 0px auto;
    max-width: 500px;
    border: 1px solid #bfbebe;
}

#search-box,
#search-box1 {
    padding: 10px;
    border: #F0F0F0 1px solid;
}

#search-box {
    width: 80%;
}

#live-search-header-wrapper {
    height: 100px;
}

#live-search-header-wrapper,
#live-search-header-wrapper1,
#live-search-header-din {
    width: 100%;
    *min-height: 65px;
    position: absolute;
    z-index: 10;
    padding: 0px 0px;
    background-color: #FFF;
    border: 0px solid #DDD;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: none;
    max-height: 340px;
    overflow: hidden;
    margin-top: 1px;
    top: 39px;
    max-width: 500px;
}

#live-search-header-wrapper ul,
#live-search-header-wrapper1 ul,
#live-search-header-din ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.search-row {
    display: block;
    margin: 0px auto;
    text-align: center;
    max-width: 500px;
    margin-left: 0px;
}

div#datableabhi_wrapper {
    float: left;
    background: #fff;
    *padding: 10px;
}

.table-responsive.table_wraper {
    background: #fff;
    box-shadow: 0px 2px 8px 3px #ccc;
}

.table-responsive .dataTables_wrapper .dataTables_filter input {
    border: 1px solid #bfbebe;
}

/*   */
#search-box,
#search-box1 {
    padding: 10px;
    border: #F0F0F0 1px solid;
}

#search-box.header-search-input,
#search-box1.header-search-input1 {
    display: block;
    padding: 7.5px 7px 7.5px 40px;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 12px;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    margin: 0px auto;
    max-width: 500px;
    border: 1px solid #bfbebe;
}

.header-search-wrapper .fa-search {
    position: absolute;
    font-size: 18px;
    top: 10px;
    left: 10px;
    line-height: normal;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    height: auto;
}

.faicon {
    margin: 0px 20px;
}

.fa-search.active {
    color: #373F89;
}


i.fa.fa-edit.faicon.floatleft.editrestrictedcmp {
    margin: 0 7px;
    font-size: 16px;
    cursor: pointer;
}

i.fa.fa-trash-o.faicon.floatleft.deleterestrictedcmp {
    margin: 0 7px;
    font-size: 16px;
    cursor: pointer;
}

.boxshadow {
    background-color: white;
    list-style: none;
    width: 100%;
    overflow: hidden;
    padding: 30px;
    box-sizing: border-box;
    margin: 35px 0;
    border: 1px solid #e7ecf3;
}

.company_asses {
    text-align: right;
}

.input {
    margin: 12px 0 0 0;
}

label.control-label {
    color: #000;
}

.form_heading {
    text-decoration: underline;
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Gotham Rounded';
    text-align: center;
}

/* ----------------- Chart CSS ----------------- */
.progress .progress-bar {
    position: relative;
}

.voteclass {
    float: left;
    margin-right: 7px;
    border-right: 1px dotted #dadada;
    padding-right: 10px;
    font-size: 12px;
}

.cmdot {
    width: 14px;
    height: 14px;
    border: 3px solid #d2d3d2;
    border-radius: 14px;
    margin: 2px 5px 2px 0px;
}


.services_search {
    display: none;
    margin: 10px auto;
}


.table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: left;
}

.dataTables_filter {
    width: 40%;
}

.h1_heading {
    margin-bottom: 20px;
}