body
{
	font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
  font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
}

th {
    color: #fff;
    background: #7c6cad;
}

tr:nth-child(odd){background-color: #f2f2f2}
span{
    margin-left: 5px;
    display: inline-block;
}

textarea
{
  width: 100%;
}