table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.in_box {
    text-align: right;
    margin-right: 29px;
    margin-top: -9px;
}
.create_button {text-align: right;}

 
.h1_heading {
    color: #000;
    padding-bottom: 15px;
    text-align: center;
}


.nav-sm .container.body .col-md-3.left_col {
    min-height: 100%;
    width: 70px;
    padding: 0;
    /*position: fixed;*/
    display: flex;
    z-index: 999;
    overflow: visible !important;
    height: 100%;
}

body.nav-sm .container.body .left_col {
    height: 100%;
}

.main_container {
    position: relative;
}

body.nav-sm .main_container .top_nav,
.main_container .top_nav {
    z-index: 2;
    position: relative;
}