.formelementmain { padding: 30px 0;background: #fff;border-radius: 4px; box-shadow: 2px 2px 5px #cccc;margin: 20px 0;}
.fa-eye{cursor: pointer;}
/*################ Pagination Start ######################*/
.paginationmn .paginateul{float: left;padding: 0px;margin: 0px auto}
.paginationmn .pagination ul li.inactive,
.paginationmn .pagination ul li.inactive:hover{background-color:#ededed;
color:#bababa; border:1px solid #bababa; cursor: default;}
.paginationmn .data ul li{ list-style: none; font-family: verdana; margin: 5px 0 5px 0; color: #000;font-size: 13px;}
.paginationmn .pagination{width: 100%;margin: 0px auto; /*height: 25px;*/}
.paginationmn .pagination ul li{ list-style: none;float: left;border: 1px solid #5d6677; padding: 2px 6px 2px 6px;margin: 0 3px 0 3px; font-family: arial; font-size: 14px;
 color: #5d6677;font-weight: bold;background-color: #f2f2f2;width: auto !important;cursor: pointer;}
input#holdingfile { padding: 9px; border: 1px solid #ccc; width: 100%;}
.h1_heading {  color: #000; text-align: center;}
.mainelementfom { margin-top: 95px;}
.formcss {margin-top: 25px;}
.table_wraper { background: #fff; padding: 10px; box-shadow: 2px 5px 3px #ccc;}

.formelementmain section.col.col-md-6.col-xs-6 {margin: 9px 0px;}

.create_button {text-align: right;}

.nav-sm .container.body .col-md-3.left_col {
    min-height: 100%;
    width: 70px;
    padding: 0;
    /*position: fixed;*/
    display: flex;
    z-index: 999;
    overflow: visible !important;
    height: 100%;
}

body.nav-sm .container.body .left_col {
    height: 100%;
}

.main_container {
    position: relative;
}

body.nav-sm .main_container .top_nav,
.main_container .top_nav {
    z-index: 2;
    position: relative;
}

.note 
{
    color: #000;
    padding: 12px 0;
    text-align: center;
}