.top_space {
    margin: 26px 0 0 0;
    float: left;
}

.tooltip_c {
  display: inline;
  position: relative;
}
/*.tooltip_c:hover:after{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background:red;
  border-radius: 8px;
  color: #fff;
  content: attr(title);
  margin: -82px auto 0;
  font-size: 16px;
  padding: 13px;
  width: 220px;
}*/
label.gender {
    display: block;
}
.tooltip_c:hover:after {
    -webkit-justify-content: center;
    justify-content: center;
    background: white;
    border-radius: 8px;
    color: #fff;
    content: attr(data);
    margin: -82px auto 0;
    font-size: 14px;
    padding: 13px;
    width: 600px;
    position: absolute;
    right: 0px;
    z-index: 999;
    color: #000;
    border: 1px solid #ccc;
    text-align: justify;
    top: 110px;
    box-shadow: 2px 1px 8px #ccc;
}
.tooltip_c:hover:before {
    border: solid;
    border-color: #a0a0a0 transparent;
    border-width: 12px 9px 0 9px;
    content: "";
    left: 45%;
    bottom: -7px;
    position: absolute;
    transform: rotate(180deg);
    z-index: 99;
}
a.tooltip_c {
    text-align: right;
    float: right;
    font-size: 16px;
    margin-right: 50px;
    font-size: 16px;
    color: #034383;
}


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
button.btn.mfr.active {
    background: #522c8f;
    color: #fff;
}
.formelementmain{display:none;}


.btn { border: 1px solid #4a2880; }

/* tooltip css */
/* tooltip css*/

input[type=text], select, textarea {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 1px;
  margin-bottom: 16px;
  resize: vertical;
}
.box_css { float: left;width: 100%; border: 1px solid #ccc; padding: 10px; margin:10px 0;}
section#pstbtn { text-align: right;}

button.add_button { margin-top: 23px;padding: 9px 26px; /*background: #1A82C3;*/ background: #4a2880; color: #fff; border: none; border-radius: 4px;}
.col-md-4.top_space {margin-top: 15px;}
.personaldetails h3 {/* padding-top: 28px; */padding-left: 10px; color: #000;}
.insert {margin-top: 29px;}
input[type=submit] {
  background-color: #4a2880;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; float: right;
  margin-top: 10px; margin-bottom: 17px;
}

.btn-primary {
    color: #fff;
  /*  background-color: #1A82C3;
    border-color: #1A82C3;*/
    background-color: #4a2880;
    border-color: #4a2880;
    margin-left: 10px;
}

.upremovemob {
    background: #ccc;
    padding: 8px;
    list-style: none;
    color: #000; width: 48%; float: left;
    font-weight: bold; margin:5px;
}

input#upaddmobile {
    background: #2a3f54;
    border: none;
    padding: 8px 17px;
    border-radius: 4px;
    color: #fff;
    margin: 10px 0;
}
input#addmobile {
    background: #2a3f54;
    color: #fff;
    padding: 8px 25px;
    border-radius: 5px;
    border: none;
    margin-top: 24px;
}
.removemob {
    background: #ccc;
    padding: 10px;
    list-style: none;
    color: #000;
    font-weight: bold;
    width: 48%;
    float: left;
    margin: 6px 5px;
}
label.gender {display: block;}
.table_data {smargin-top: 29px;}
/* input[type=submit]:hover {background-color: #45a049;} */

input#hldngfile, input#file {border: 1px solid #ccc;padding: 9px; width: 100%;}
.container {border-radius: 5px;
/*   background-color: #f2f2f2; */}
button.btn.personal.active {background: #522c8f;color: #fff;}
button.btn.relatives.active{background: #522c8f;color: #fff;}
input#addr {padding: 37px;}

.input-group .col-md-3 {margin: 8px 0;}

/* .relativesform {
  
    width: 98%;
    margin: 0px auto;
    margin-top: 20px;
  
} */
.relativesform {width: 98%;margin: 0 auto;background: #fff;box-shadow: 2px 2px 8px #ccc;padding: 8px;margin-top: 13px;border-radius: 4px;
}
lable {color: #000;font-weight: bold;}
.relativesform h3 {color: #000; padding: 0 10px;}
.input-group {background: #fff;box-shadow: 2px 2px 3px #ccc;border-radius: 4px;padding:45px 0px;/* float: left; */}
.personaldetails {width: 98%;margin: 0 auto;background: #fff;box-shadow: 2px 2px 8px #ccc;
padding: 8px;margin-top: 13px;border-radius: 4px;}
i.fa.fa-edit.editcmp {
    margin-right: 10px;
}

.mfrdetails {
    margin-top: 25px;
    color: black;
    text-align: center;
    padding: 15px 0;
}
.trdinti {
    float: left;
    width: 87%;
}
.trdebtn {
    margin: 15px 0;
    
}
.tradedetails {
    color: black;
    text-align: center;
}

#trdeintimatn {
    background-color: #4a2880;
    border: 1px solid #4a2880;
}

.header-search-wrapper {
    width: 100%;
    *height: 40px;
    display: block;
    position: relative;
    max-width: 500px;
}

.header-search-wrapper .fa-search {
    position: absolute;
    font-size: 18px;
    top: 10px;
    left: 10px;
    line-height: normal;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    height: auto;
}
#search-box.header-search-input, #search-box1.header-search-input1 {
    display: block;
    padding: 7.5px 7px 7.5px 40px;
    width: 100%;
    background: rgba(255,255,255,0.3);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    margin: 0px auto;
    max-width: 500px;
    border: 1px solid #73879c;
}
#search-box, #search-box1 {
    padding: 10px;
    border: #F0F0F0 1px solid;
}
#search-box {
    width: 80%;
}
#live-search-header-wrapper {
    height: 100px;
}
#live-search-header-wrapper, #live-search-header-wrapper1, #live-search-header-din {
    width: 100%;
    *min-height: 65px;
    position: absolute;
    z-index: 10;
    padding: 0px 0px;
    background-color: #FFF;
    border: 0px solid #DDD;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    display: none;
    max-height: 340px;
    overflow: hidden;
    margin-top: 1px;
    top: 39px;
    max-width: 500px;
}

#live-search-header-wrapper ul, #live-search-header-wrapper1 ul, #live-search-header-din ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.search-row {
    display: block;
    margin: 0px auto;
    text-align: center;
    max-width: 500px;
    margin-left: 0px;
}

/*   */
#search-box,
#search-box1 {
    padding: 10px;
    border: #F0F0F0 1px solid;
}
#search-box.header-search-input,
#search-box1.header-search-input1 {
    display: block;
    padding: 7.5px 7px 7.5px 40px;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 12px;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    margin: 0px auto;
    max-width: 500px;
    border: 1px solid #73879c;
}

.header-search-wrapper .fa-search {
    position: absolute;
    font-size: 18px;
    top: 10px;
    left: 10px;
    line-height: normal;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    height: auto;
}
.faicon {
    margin: 0px 20px;
}
.fa-search.active {
    color: #373F89;
}
.header-search-wrapper {
    width: 100%;
  
    *height: 40px;
    display: block;
    position: relative;max-width: 500px;
}

#live-search-header-wrapper,
#live-search-header-wrapper1,
#live-search-header-din {
    width: 100%;
    *min-height: 65px;
    position: absolute;
    z-index: 10;
    padding: 0px 0px;
    background-color: #FFF;
    border: 0px solid #DDD;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: none;
    max-height: 340px;
    overflow: hidden;
    margin-top: 1px;
    top: 39px;
    max-width: 500px;
}
#live-search-header-wrapper ul,
#live-search-header-wrapper1 ul,
#live-search-header-din ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#live-search-header-wrapper ul li,
#live-search-header-wrapper1 ul li,
#live-search-header-din ul li {
    cursor: pointer;
    width: 100%;
    line-height: normal;
    padding: 10px 5px;
    float: none;
    clear: both;
    color: #000;
    font-size: 12px;
}
#live-search-header-wrapper ul li a,
#live-search-header-wrapper1 ul li a,
#live-search-header-din ul li a {
    text-decoration: none;
    display: block;
}
#live-search-header-wrapper ul li a,
#live-search-header-wrapper1 ul li a,
#live-search-header-din ul li a {
    color: #000;
    font-size: 12px;
}

.live-searchul li.selected,
.live-searchul li:hover,
.live-searchul1 li.selected,
.live-searchul1 li:hover,
#live-search-header-din ul li.selected,
#live-search-header-din ul li:hover {
    background: #dadada;
}
button.add_button2 {
    margin-top: 42px;
    padding: 9px 26px;
    background: #1A82C3;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.choose_files {
    margin-bottom: 27px;
}
.preloder_wraper{
    z-index: 1111;
}