
body.nav-md .container.body .right_col.right_col {min-height: 700px;    height: auto;padding-bottom: 20px;}

.text-right { text-align: right; } 
/* body{background: #fff !important;} */

/*----------------------- General CSS START ------------------------------*/
.lodranchor{
    cursor: pointer;
}


.modal-content { padding: 5px; }
 
.panel.panel-primary {
    border: none;
}

div#datableabhi_wrapper {
    padding: 20px;
    box-shadow: 0px 1px 12px 4px #ccc;
}

input[type="search"] {
    border: none;
    border: 1px solid #ccc;
    padding: 5px;
}

.table th { color:#fff;   background: #17395b;}

th.sorting, th.sorting_asc {
    color: #fff;
}

.h1_heading {
    /* font-family: 'Gotham Rounded'; */
    color: #000;  padding-bottom: 15px; text-align: center;
}


.horizontal_line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgb(0,0,0),rgba(0,0,0,0));
}

.liti_color1{background-color: #f47721;}
.liti_color2{background-color: #1ca0de;}
.liti_color3{background-color: #6cbc35;}
.liti_color4{background-color: #e74c3c;}
.liti_color5{background-color: #00a78e;}

.panel-title{color:#73879c!important;}
.panel-title:hover{color:black!important;}

.mainboxcss{
    width: 270px;
    height: 275px;
    margin: 10px;
    padding: 4px 0px 0px 0px;
    border-radius: 100%; 
}
.pad_p a p:hover,
.pad_p a p:focus,
.anchortagch:hover,
.anchortagch:focus{
  color:#fff !important;
}

.pad_p a p:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
   
}
.heading_center{
    text-shadow: 0px 2px 1px rgba(34, 34, 34, 0.51);    
}
/*----------------------- General CSS END ------------------------------*/

/*----------------------- Form CSS Start ------------------------------*/
.formcss{
    background-color: white;
    list-style: none;
    width: 100%;
    overflow: hidden;
    padding: 20px 25px 25px;
    margin: 15px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -o-transition: opacity 0.8s,-o-transform 0.8s;
    -ms-transition: opacity 0.8s,-ms-transform 0.8s;
    -moz-transition: opacity 0.8s,-moz-transform 0.8s;
    -webkit-transition: opacity 0.8s,-webkit-transform 0.8s;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}
.form_pad {
   padding: 25px;
}
.form_heading{
    text-decoration: underline;
    padding: 5px;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Gotham Rounded';
    text-align: center;
}
.form_fields{
    border-radius: 3px;
    line-height: 30px;
    width: 100%;
    margin: 0px 0px 20px 0px;
        outline: none;
    border: 1px solid #ddd;
}
label.control-label {
    padding: 5px 0; color: #000;
}
.note{color:#000; padding: 12px 0;} 
.genderlbltxt{padding-right: 15px;padding-left: 5px;}
.gensec{margin-top: 25px;}

.litiboxshadow{
    width: 50%;
    box-shadow: 0px 2px 7px;
    padding: 15px;
    height:auto;
    margin: auto ;margin: 20px auto;
}
.upload_label{text-align: center;display: block;margin: 0px auto;margin-bottom: 10px;border-bottom: 2px dotted #dadada;
padding-bottom: 5px;}
.choose_files input{
     padding-left: 10px;
}

.faicon{cursor: pointer;font-size: 18px;padding: 10px 0px;}
.faicon:hover,.faicon:focus,.faicon:active{color:black;}
.btnsubmitme{
    clear: both;
}
.btnsubmitme .btn-primary{
    margin: 10px auto;
    display: block;    
}
.mar_0{margin:0px;}
.show_shadow{
    box-shadow: 0px 2px 5px #aaa;
    display: block;
    margin: 40px;
    padding: 15px;    
}
/*----------------------- Form CSS End ------------------------------*/

/*-------------------------- Upload Section CSS END-----------------------------*/
.boxshadow{
    width: 50%;
    box-shadow: 0px 2px 7px;
    padding: 15px;
    height:auto;
    margin: auto ;margin: 20px auto;
}
.labelcss{text-align: center;display: block;margin: 0px auto;margin-bottom: 10px;border-bottom: 2px dotted #dadada;
padding-bottom: 5px;}
.choose_excelfiles input{
    *margin: 0px auto;
    *padding-left: 66px;
}
.updatefile{margin: 0px auto;margin-top: 10px}
.sample_down{line-height: normal;}
.sample_down a{display: block;margin: 0px auto;text-align: center;}
.sample_down a:hover{color:#666 !important;}
.uploadeventsbtn{margin:10px;}
.message{
    font-size: 13px;
    font-weight: 600;
    color: #1a82c3;
    text-align: center;
}

/*-------------------------- Upload Section CSS END-----------------------------*/




/* ####################### VIKI DASHBOARD CSS START ####################### */
/* -------------------- logan democss START -------------------- */
 html, body, aside {
  display: block;
  margin: 0;
  padding: 0;
}

aside {
  width: 233px;
  min-height: 500px;
}
aside.right {
  margin-left: auto;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}


}

@media screen and (max-width: 1000px) {
  body {
    padding: 20px;
  }
}
@media screen and (max-width: 767px) {
 
  aside {
    width: auto;
  }
}
/* -------------------- logan democss END -------------------- */

/

 /* -------------------- Structure CSS START -------------------- */
.panel a{text-decoration:none;}
.panel a:hover{text-decoration:none;}
.hearingsection{width:470px; }
.breadcum{max-width: 1200px;margin: 0px auto;}
.col_liti{max-width:1200px;
  margin:0px auto; 
  padding:20px;
  display: table;  
 }
  .col1{
    position: relative;
    max-width: 200px;
    width: 100%;
    margin: 10px auto;
    background-color: #d6d6d6;
    padding:17px;
    display: table;
    float: left;
  }

  .heading-litigation h2{
   color: #666;
    font-size: 18px;
    padding: 0px 15px 0px 15px;
  }
  .sub-col2{
    background-color:#fff; 
    width:150px;
    height: 150px;
    position: relative;
    float: left;
    padding: 10px; 
    margin:10px;
    
    box-shadow:0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
  }
.icon-img{
  width: 90px;
    height: 90px;
    font-size: 30px;
    border-radius: 100%;
    margin: 0px auto;
    line-height: 87px;
    text-align: center;
}
.icon-border1{
    border: 5px solid #1ca0de;
    color: #1ca0de;
}.icon-border2{
    border: 5px solid #5b5e63;
    color: #5b5e63;
}
.icon-border3{
    border: 5px solid #f44336;
    color: #f44336;
}
.icon-border4{
     border: 5px solid #6cbc35;
    color: #6cbc35;
}
.heading-color1{ color: #1ca0de;}
.heading-color2{ color: #5b5e63;}
.heading-color3{color: #f44336;}
.heading-color4{ color: #6cbc35;}

  .border-dott{
    border-bottom:1px dotted #888888; 
    margin:15px 0px 5px 0px; 
  }
  .icon-heading{
    text-align: center;
    font-size:15px;
    margin:0px 0px 0px 0px ; 
    
  }

.col-left{
  max-width:342px;
  height: 100%;
    width: 100%;
    margin: 10px;
    *padding: 15px; 
    background-color:#d6d6d6;
    position:relative;
    float: left;
        display: table; 
}
.col-right{
  max-width:42%;
  height:auto; 
    width: 100%;
    margin: 10px;
    *padding: 15px; 
    background-color:#d6d6d6; 
    position: relative;
    float: left;
    padding:8px; 
        display: table;
}
.icon-toggle{float: right;}

.coladd-litigation{
    max-width: 85px;
    width: 100%;
    height: 80px;
    border: 1px solid;
    float: left;
    border-radius: 100%;  
}
/* -------------------- Structure CSS END -------------------- */


/* -------------------- Middle Section START -------------------- */
.itemhover {
    position: relative;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.itemhover,
.itemhover * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.itemhover a {
    color: #333;
}
.itemhover a:hover {
    text-decoration: none;
}
/*.itemhover img {
    width: 100%;
    height: 100%;
}*/

.itemhover.circle {
    position: relative;
    width: 170px;
    height: 75px;
    *border-radius: 50%;
        margin: 20px;
}
.itemhover.circle .img-icon {
    position: relative;
    width: 170px;
    height: 75px;
    *border-radius: 50%;
    font-size: 28px;
    text-align: center;
    color: #fff;
    *background-color: coral;
}
.itemhover.circle .img-icon:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    *border-radius: 50%;
    box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.itemhover.circle .img-icon i {
    border-radius: 50%;
    padding: 30px;
}
.itemhover.circle .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.itemhover.square {
    position: relative;
    width: 316px;
    height: 216px;
    border: 8px solid #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.itemhover.square .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.itemhover.circle.effect {
    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    perspective: 900px;
}
.itemhover.circle.effect .img-icon {
    z-index: 11;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.itemhover.circle.effect.colored .info .info-back {
    background: rgba(14, 97, 134, 1);
}
.itemhover.circle.effect .info {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.itemhover.circle.effect .info .info-back {
    opacity: 1;
    *border-radius: 50%;
    width: 100%;
    height: 100%;
    background: #277398;
}
.itemhover.circle.effect .info h3 {
    color: #fff;
    *text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 13px;
    margin: 0 15px;
    padding: 30px 0 0 0;
    *height: 110px;
    *text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
/*.itemhover.circle.effect .info p {
    color: #bbb;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}*/

.itemhover.circle.effect.left_to_right .img-icon {
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.itemhover.circle.effect.left_to_right a:hover .img-icon {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    -moz-transform: rotate3d(0, 1, 0, 180deg);
    -ms-transform: rotate3d(0, 1, 0, 180deg);
    -o-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);
}

.itemhover.circle.effect.right_to_left .img-icon {
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}
.itemhover.circle.effect.right_to_left a:hover .img-icon {
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -ms-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
    transform: rotate3d(0, 1, 0, -180deg);
}
/* -------------------- Middle Section END -------------------- */

/* -------------------- Table Section START -------------------- */
.accordion .panel-heading{background:#f7f7f7; }

.accordion .panel:hover{background:#fff; }
.table-liti{padding: 15px;}
table{
  *border: 1px solid #ddd;  
  border-collapse: collapse;
}
 thead td,th{
  *border:1px solid #ddd;
  border-bottom:1px solid #666;
  padding:8px;  
  color:#555;
      font-size: 13px;
    font-family: sans-serif;
 }

 tbody tr > td{
  padding:8px; 
  color:#696969;
  font-size:13px; 
}
 tbody tr{
  border-top:1px solid #ddd;  
 }   
/* -------------------- Table Section END -------------------- */


/* -------------------- PIE Chart Start ---------------------- */
/* Colors for data series and points. */
/* Chart background, point stroke for markers and columns etc, */
/* Neutral colors, grayscale by default. The default colors are defined by mixing the background-color
with neutral, with a weight corresponding to the number in the name. */
/* Strong text. */
/* Main text and some strokes. */
/* Axis labels, axis title, connector fallback. */
/* Credits text, export menu stroke. */
/* Disabled texts, button strokes, crosshair etc. */
/* Grid lines etc. */
/* Minor grid lines etc. */
/* Tooltip backgroud, button fills, map null points. */
/* Colored, shades of blue by default */
/* Drilldown clickable labels, color axis max color. */
/* Selection marker, menu hover, button hover, chart border, navigator series. */
/* Navigator mask fill. */
/* Ticks and axis line. */
/* Pressed button, color axis min color. */
.highcharts-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: normal;
  z-index: 0;
  /* #1072 */
  -webkit-tap-highlight-color: transparent;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.highcharts-root text {
  stroke-width: 0;
}

.highcharts-background {
  fill: #ffffff;
}

.highcharts-plot-border, .highcharts-plot-background {
  fill: none;
}

.highcharts-label-box {
  fill: none;
}

.highcharts-button-box {
  fill: inherit;
}

/* Titles */
.highcharts-title {
  fill: #333333;
  font-size: 2.5em;
}

.highcharts-subtitle {
  fill: #666666;
}

/* Axes */
.highcharts-axis-line {
  fill: none;
  stroke: #ccd6eb;
}

.highcharts-yaxis .highcharts-axis-line {
  stroke-width: 0;
}

.highcharts-axis-title {
  fill: #666666;
}

.highcharts-axis-labels {
  fill: #666666;
  cursor: default;
  font-size: 0.9em;
}

.highcharts-grid-line {
  fill: none;
  stroke: #e6e6e6;
}

.highcharts-xaxis-grid .highcharts-grid-line {
  stroke-width: 0;
}

.highcharts-tick {
  stroke: #ccd6eb;
}

.highcharts-yaxis .highcharts-tick {
  stroke-width: 0;
}

.highcharts-minor-grid-line {
  stroke: #f2f2f2;
}

.highcharts-crosshair-thin {
  stroke-width: 1px;
  stroke: #cccccc;
}

.highcharts-crosshair-category {
  stroke: #ccd6eb;
  stroke-opacity: 0.25;
}

/* Credits */
.highcharts-credits {
  cursor: pointer;
  fill: #999999;
  font-size: 0.7em;
  transition: fill 250ms, font-size 250ms;
}

.highcharts-credits:hover {
  fill: black;
  font-size: 1em;
}

/* Tooltip */
.highcharts-tooltip {
  cursor: default;
  pointer-events: none;
  white-space: nowrap;
  transition: stroke 150ms;
}

.highcharts-tooltip text {
  fill: #333333;
}

.highcharts-tooltip .highcharts-header {
  font-size: 0.85em;
}

.highcharts-tooltip-box {
  stroke-width: 1px;
  fill: #f7f7f7;
  fill-opacity: 0.85;
}

.highcharts-selection-marker {
  fill: #335cad;
  fill-opacity: 0.25;
}

.highcharts-graph {
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.highcharts-state-hover .highcharts-graph {
  stroke-width: 3;
}

.highcharts-state-hover path {
  transition: stroke-width 50;
  /* quick in */
}

.highcharts-state-normal path {
  transition: stroke-width 250ms;
  /* slow out */
}

/* Legend hover affects points and series */
g.highcharts-series, .highcharts-point {
  transition: opacity 250ms;
}

.highcharts-legend-series-active g.highcharts-series:not(.highcharts-series-hover),
.highcharts-legend-point-active .highcharts-point:not(.highcharts-point-hover) {
  opacity: 0.2;
}

/* Series options */
/* Default colors */
.highcharts-color-0 {
  fill: #7cb5ec;
  stroke: #7cb5ec;
}

.highcharts-color-1 {
  fill: #434348;
  stroke: #434348;
}

.highcharts-color-2 {
  fill: #90ed7d;
  stroke: #90ed7d;
}

.highcharts-color-3 {
  fill: #f7a35c;
  stroke: #f7a35c;
}

.highcharts-color-4 {
  fill: #8085e9;
  stroke: #8085e9;
}

.highcharts-color-5 {
  fill: #f15c80;
  stroke: #f15c80;
}

.highcharts-color-6 {
  fill: #e4d354;
  stroke: #e4d354;
}

.highcharts-color-7 {
  fill: #2b908f;
  stroke: #2b908f;
}

.highcharts-color-8 {
  fill: #f45b5b;
  stroke: #f45b5b;
}

.highcharts-color-9 {
  fill: #91e8e1;
  stroke: #91e8e1;
}

.highcharts-area {
  fill-opacity: 0.75;
  stroke-width: 0;
}

.highcharts-markers {
  stroke-width: 1px;
  stroke: #ffffff;
}

.highcharts-point {
  stroke-width: 1px;
}

.highcharts-dense-data .highcharts-point {
  stroke-width: 0;
}

.highcharts-data-label {
  font-size: 0.9em;
  font-weight: bold;
}

.highcharts-data-label-box {
  fill: none;
  stroke-width: 0;
}

.highcharts-data-label text {
  fill: #333333;
}

.highcharts-data-label-connector {
  fill: none;
}

.highcharts-halo {
  fill-opacity: 0.25;
  stroke-width: 0;
}

.highcharts-point-select {
  fill: #cccccc;
  stroke: #000000;
}

.highcharts-column-series .highcharts-point {
  stroke: #ffffff;
  transition: fill-opacity 250ms;
}

.highcharts-column-series .highcharts-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms;
}

.highcharts-pie-series .highcharts-point {
  stroke-linejoin: round;
  stroke: #ffffff;
}

.highcharts-pie-series .highcharts-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms;
}

.highcharts-pie-series .highcharts-point-select {
  fill: inherit;
  stroke: inherit;
}

.highcharts-funnel-series .highcharts-point {
  stroke-linejoin: round;
  stroke: #ffffff;
}

.highcharts-funnel-series .highcharts-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms;
}

.highcharts-funnel-series .highcharts-point-select {
  fill: inherit;
  stroke: inherit;
}

.highcharts-pyramid-series .highcharts-point {
  stroke-linejoin: round;
  stroke: #ffffff;
}

.highcharts-pyramid-series .highcharts-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms;
}

.highcharts-pyramid-series .highcharts-point-select {
  fill: inherit;
  stroke: inherit;
}

.highcharts-solidgauge-series .highcharts-point {
  stroke-width: 0;
}

.highcharts-treemap-series .highcharts-point {
  stroke-width: 1px;
  stroke: #e6e6e6;
  transition: stroke 250ms, fill 250ms, fill-opacity 250ms;
}

.highcharts-treemap-series .highcharts-point-hover {
  stroke: #999999;
  transition: stroke 25ms, fill 25ms, fill-opacity 25ms;
}

.highcharts-treemap-series .highcharts-above-level {
  display: none;
}

.highcharts-treemap-series .highcharts-internal-node {
  fill: none;
}

.highcharts-treemap-series .highcharts-internal-node-interactive {
  fill-opacity: 0.15;
  cursor: pointer;
}

.highcharts-treemap-series .highcharts-internal-node-interactive:hover {
  fill-opacity: 0.75;
}

/* Legend */
.highcharts-legend-box {
  fill: none;
  stroke-width: 0;
}

.highcharts-legend-item text {
  fill: #333333;
  font-weight: bold;
  cursor: pointer;
  stroke-width: 0;
}

.highcharts-legend-item:hover text {
  fill: #000000;
}

.highcharts-legend-item-hidden * {
  fill: #cccccc !important;
  stroke: #cccccc !important;
  transition: fill 250ms;
}

.highcharts-legend-nav-active {
  fill: #003399;
  cursor: pointer;
}

.highcharts-legend-nav-inactive {
  fill: #cccccc;
}

.highcharts-legend-title-box {
  fill: none;
  stroke-width: 0;
}

/* Loading */
.highcharts-loading {
  position: absolute;
  background-color: #ffffff;
  opacity: 0.5;
  text-align: center;
  z-index: 10;
  transition: opacity 250ms;
}

.highcharts-loading-hidden {
  height: 0 !important;
  opacity: 0;
  overflow: hidden;
  transition: opacity 250ms, height 250ms step-end;
}

.highcharts-loading-inner {
  font-weight: bold;
  position: relative;
  top: 45%;
}

/* Plot bands and polar pane backgrounds */
.highcharts-plot-band {
  fill: #000000;
  fill-opacity: 0.05;
}

.highcharts-plot-line {
  fill: none;
  stroke: #999999;
  stroke-width: 1px;
}

/* Highcharts More */
.highcharts-boxplot-box {
  fill: #ffffff;
}

.highcharts-boxplot-median {
  stroke-width: 2px;
}

.highcharts-bubble-series .highcharts-point {
  fill-opacity: 0.5;
}

.highcharts-errorbar-series .highcharts-point {
  stroke: #000000;
}

.highcharts-gauge-series .highcharts-data-label-box {
  stroke: #cccccc;
  stroke-width: 1px;
}

.highcharts-gauge-series .highcharts-dial {
  fill: #000000;
  stroke-width: 0;
}

.highcharts-polygon-series .highcharts-graph {
  fill: inherit;
  stroke-width: 0;
}

.highcharts-waterfall-series .highcharts-graph {
  stroke: #333333;
  stroke-dasharray: 1, 3;
}

/* Highstock */
.highcharts-navigator-mask {
  fill: #6685c2;
  /* navigator.maskFill option */
  fill-opacity: 0.25;
}

.highcharts-navigator-mask-inside {
  fill: #6685c2;
  /* navigator.maskFill option */
  fill-opacity: 0.25;
  cursor: ew-resize;
}

.highcharts-navigator-outline {
  stroke: #cccccc;
  fill: none;
}

.highcharts-navigator-handle {
  stroke: #cccccc;
  fill: #f2f2f2;
  cursor: ew-resize;
}

.highcharts-navigator-series {
  fill: #335cad;
  stroke: #335cad;
}

.highcharts-navigator-series .highcharts-graph {
  stroke-width: 1px;
}

.highcharts-navigator-series .highcharts-area {
  fill-opacity: 0.05;
}

.highcharts-navigator-xaxis .highcharts-axis-line {
  stroke-width: 0;
}

.highcharts-navigator-xaxis .highcharts-grid-line {
  stroke-width: 1px;
  stroke: #e6e6e6;
}

.highcharts-navigator-xaxis.highcharts-axis-labels {
  fill: #999999;
}

.highcharts-navigator-yaxis .highcharts-grid-line {
  stroke-width: 0;
}

.highcharts-scrollbar-thumb {
  fill: #cccccc;
  stroke: #cccccc;
  stroke-width: 1px;
}

.highcharts-scrollbar-button {
  fill: #e6e6e6;
  stroke: #cccccc;
  stroke-width: 1px;
}

.highcharts-scrollbar-arrow {
  fill: #666666;
}

.highcharts-scrollbar-rifles {
  stroke: #666666;
  stroke-width: 1px;
}

.highcharts-scrollbar-track {
  fill: #f2f2f2;
  stroke: #f2f2f2;
  stroke-width: 1px;
}

.highcharts-button {
  fill: #f7f7f7;
  stroke: #cccccc;
  cursor: default;
  stroke-width: 1px;
  transition: fill 250ms;
}

.highcharts-button text {
  fill: #333333;
}

.highcharts-button-hover {
  transition: fill 0ms;
  fill: #e6e6e6;
  stroke: #333333;
}

.highcharts-button-pressed {
  font-weight: bold;
  fill: #e6ebf5;
  stroke: #335cad;
}

.highcharts-button-disabled text {
  fill: #cccccc;
}

.highcharts-range-selector-buttons .highcharts-button {
  stroke-width: 0;
}

.highcharts-range-label rect {
  fill: none;
}

.highcharts-range-label text {
  fill: #666666;
}

.highcharts-range-input rect {
  fill: none;
}

.highcharts-range-input text {
  fill: #333333;
}

input.highcharts-range-selector {
  position: absolute;
  border: 0;
  width: 1px;
  /* Chrome needs a pixel to see it */
  height: 1px;
  padding: 0;
  text-align: center;
  left: -9em;
  /* #4798 */
}

.highcharts-crosshair-label text {
  fill: #ffffff;
  font-size: 1.1em;
}

.highcharts-crosshair-label .highcharts-label-box {
  fill: inherit;
}

.highcharts-candlestick-series .highcharts-point {
  stroke: #000000;
  stroke-width: 1px;
}

.highcharts-candlestick-series .highcharts-point-up {
  fill: #ffffff;
}

.highcharts-ohlc-series .highcharts-point-hover {
  stroke-width: 3px;
}

.highcharts-flags-series .highcharts-point {
  stroke: #999999;
  fill: #ffffff;
}

.highcharts-flags-series .highcharts-point-hover {
  stroke: #000000;
  fill: #ccd6eb;
}

.highcharts-flags-series .highcharts-point text {
  fill: #000000;
  font-size: 0.9em;
  font-weight: bold;
}

/* Highmaps */
.highcharts-map-series .highcharts-point {
  transition: fill 500ms, fill-opacity 500ms, stroke-width 250ms;
  stroke: #cccccc;
}

.highcharts-map-series .highcharts-point-hover {
  transition: fill 0ms, fill-opacity 0ms;
  fill-opacity: 0.5;
  stroke-width: 2px;
}

.highcharts-mapline-series .highcharts-point {
  fill: none;
}

.highcharts-heatmap-series .highcharts-point {
  stroke-width: 0;
}

.highcharts-map-navigation {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.highcharts-coloraxis {
  stroke-width: 0;
}

.highcharts-coloraxis-marker {
  fill: #999999;
}

.highcharts-null-point {
  fill: #f7f7f7;
}

/* 3d charts */
.highcharts-3d-frame {
  fill: transparent;
}

.highcharts-column-series .highcharts-point {
  stroke: inherit;
  /* use point color */
}

/* Exporting module */
.highcharts-contextbutton {
  fill: #ffffff;
  /* needed to capture hover */
  stroke: none;
  stroke-linecap: round;
}

.highcharts-contextbutton:hover {
  fill: #e6e6e6;
  stroke: #e6e6e6;
}

.highcharts-button-symbol {
  stroke: #666666;
  stroke-width: 3px;
}

.highcharts-menu {
  border: 1px solid #999999;
  background: #ffffff;
  padding: 5px 0;
  box-shadow: 3px 3px 10px #888;
}

.highcharts-menu-item {
  padding: 0.5em 1em;
  background: none;
  color: #333333;
  cursor: pointer;
  transition: background 250ms, color 250ms;
}

.highcharts-menu-item:hover {
  background: #335cad;
  color: #ffffff;
}

/* Drilldown module */
.highcharts-drilldown-point {
  cursor: pointer;
}

.highcharts-drilldown-data-label text, .highcharts-drilldown-axis-label {
  cursor: pointer;
  fill: #003399;
  font-weight: bold;
  text-decoration: underline;
}

/* No-data module */
.highcharts-no-data text {
  font-weight: bold;
  font-size: 12px;
  fill: #666666;
}
   
.flex-contains{
     display: -webkit-flex;
    display: flex;
    justify-content: center;text-align: center;flex-flow: row wrap;
}  
/* -------------------- PIE Chart End ---------------------- */
.cssnumrws{padding: 10px; }

/*################ Pagination Start ######################*/
.paginationmn .paginateul{float: left;padding: 0px;margin: 0px auto}
.paginationmn .pagination ul li.inactive,
.paginationmn .pagination ul li.inactive:hover{background-color:#ededed;
color:#bababa; border:1px solid #bababa; cursor: default;}
.paginationmn .data ul li{ list-style: none; font-family: verdana; margin: 5px 0 5px 0; color: #000;font-size: 13px;}
.paginationmn .pagination{width: 100%;margin: 0px auto; /*height: 25px;*/}
.paginationmn .pagination ul li{
    list-style: none;
    float: left;
    border: 1px solid #5d6677;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial;
    font-size: 14px;
    color: #5d6677;
    font-weight: bold;
    background-color: #f2f2f2;
    width: auto !important;
}
.paginationmn .pagination ul li:hover{ color: #fff; background-color: #5d6677; cursor: pointer;}
.go_button
{background: transparent; border:1px solid #0747A6;color:#000000;padding:2px 6px 2px 6px;cursor:pointer;/*position:absolute;*/margin-top:-1px;
}
.total {float:right;font-family:'robotoregular';color:#666; font-size: 12px;}
.gotobtn {text-align: center;}
.ttolmnbtn{margin: 5px auto;}
.gobtnman{ margin: 1px 10px;border-right: 1px dotted #5d6677; padding-right: 10px;}
.paginationmn.topmnp .pagination{border-bottom: 1px dotted #dadada; margin-bottom: 30px;padding-bottom: 12px;}
.floatright.gobtnmnh { float: right;}
.textarea textarea.disabled {width: 120px;}
.floatright.ttolmnbtn {float: right;}

input.gotobtn:hover { background: #5d6677; color: #fff;  } 
.go_button:hover {background: #5d6677;}
input.gotobtn { padding: 2px 6px 2px 6px; border: 1px solid #5d6677;}
.cssuprslctn { margin-bottom: 20px;}
.floatleft { float: left;}

h3
{
  text-align:center;
}
/*################ Pagination End ######################*/


