body{background:#F7F7F7;}
.errorelement{display: none;margin: 20px auto;padding: 10px;border-radius: 2px;box-shadow: 2px 3px 24px #ccc;color: #1b63b1;font-weight: bold;}
.heartcolor{
  color: #27b16d;
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-top: 3px;
  font-size: 12px;
}
.heartcolor:hover {
  -webkit-animation: r21 0.4s   ease-out infinite;
  -moz-animation: r21 0.4s  ease-out infinite;
  animation: r21 0.4s  ease-out infinite;
}

@-webkit-keyframes r21 {
  from {
    font-size: 14px
  }
  to {
    font-size: 16px
  }
}
@-moz-keyframes r21 {
  from {
    font-size: 14px
  }
  to {
    font-size: 16px
  }
}
@keyframes r21 {
  from {
    font-size: 14px
  }
  to {
    font-size: 16px
  }
}
.copyright{
  display: block;
  margin: 15px auto 0;
  text-align: center;
  width: 100%;
}
.login_content h1:before, .login_content h1:after {
  content: "";
  height: 1px;
  position: absolute;
  top: 10px;
  width: 12%;
}
.login_form {
  z-index: 22;
}
.registration_form, .login_form {
  max-width: 325px;
  margin: 8% auto 0;
  display: block;
  text-align: center;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  padding: 15px;
}
.registration_form {
  z-index: 21;
  display: none;
  width: 100%;
}
#passwordnew{margin-top: 10px;}
.mainprogressbarforall{margin: 10px auto;display: none;}
.login-form h1 {text-align: center; font-size: 24px; padding-bottom: 20px;}
.forgot_passwd {width:100%; margin-top: 15px;}
.footerlogo {margin-bottom: 15px; max-width: 100%;}
.to_register {color: #333;text-decoration: underline; padding-top:3px;}
.to_register:hover{color: #333;}
.navbar-top {padding-top: 0;}
.centrum_logo {width:100%; display: inline-block; background: #1c59a8; margin-bottom: 5px;}

input.btn.btn-default.loginnowbtn.inputcommonbtn.floatleft.forgot_passwd {
    margin-left: 0;
}