.formelementmain {
    padding: 30px 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #cccc;
    margin: 20px 0;
}

tbody.appendrow {
    background: #fff;
}

.control-label.btnsubmitme.cntrol_tab_one {
    float: left;
   
    margin-top: 20px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 5px 0;
    margin-top: 1px 9;
    line-height: normal;
}

.header-search-wrapper {
    width: 100%;
    *height: 40px;
    display: block;
    position: relative;
    max-width: 500px;
}

/*button.btn.btn-default.btn-default-one {
    background: #522c8f;
    color: #fff !important;
}  */ 
.header-search-wrapper .fa-search {
    position: absolute;
    font-size: 18px;
    top: 10px;
    left: 10px;
    line-height: normal;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    height: auto;
}
#search-box.header-search-input, #search-box1.header-search-input1 {
    display: block;
    padding: 7.5px 7px 7.5px 40px;
    width: 100%;
    background: rgba(255,255,255,0.3);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    margin: 0px auto;
    max-width: 500px;
    border: 1px solid #73879c;
}
#search-box, #search-box1 {
    padding: 10px;
    border: #F0F0F0 1px solid;
}
#search-box {
    width: 80%;
}
#live-search-header-wrapper {
    height: 100px;
}
#live-search-header-wrapper, #live-search-header-wrapper1, #live-search-header-din {
    width: 100%;
    *min-height: 65px;
    position: absolute;
    z-index: 10;
    padding: 0px 0px;
    background-color: #FFF;
    border: 0px solid #DDD;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    display: none;
    max-height: 340px;
    overflow: hidden;
    margin-top: 1px;
    top: 39px;
    max-width: 500px;
}

#live-search-header-wrapper ul, #live-search-header-wrapper1 ul, #live-search-header-din ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.search-row {
    display: block;
    margin: 0px auto;
    text-align: center;
    max-width: 500px;
    margin-left: 0px;
}

/*   */
#search-box,
#search-box1 {
    padding: 10px;
    border: #F0F0F0 1px solid;
}
#search-box.header-search-input,
#search-box1.header-search-input1 {
    display: block;
    padding: 7.5px 7px 7.5px 40px;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 12px;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    margin: 0px auto;
    max-width: 500px;
    border: 1px solid #73879c;
}

.header-search-wrapper .fa-search {
    position: absolute;
    font-size: 18px;
    top: 10px;
    left: 10px;
    line-height: normal;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    height: auto;
}
.faicon {
    margin: 0px 20px;
}
.fa-search.active {
    color: #373F89;
}
.header-search-wrapper {
    width: 100%;
  
    *height: 40px;
    display: block;
    position: relative;max-width: 500px;
}

#live-search-header-wrapper,
#live-search-header-wrapper1,
#live-search-header-din {
    width: 100%;
    *min-height: 65px;
    position: absolute;
    z-index: 10;
    padding: 0px 0px;
    background-color: #FFF;
    border: 0px solid #DDD;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: none;
    max-height: 340px;
    overflow: hidden;
    margin-top: 1px;
    top: 39px;
    max-width: 500px;
}
#live-search-header-wrapper ul,
#live-search-header-wrapper1 ul,
#live-search-header-din ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#live-search-header-wrapper ul li,
#live-search-header-wrapper1 ul li,
#live-search-header-din ul li {
    cursor: pointer;
    width: 100%;
    line-height: normal;
    padding: 10px 5px;
    float: none;
    clear: both;
    color: #000;
    font-size: 12px;
}
#live-search-header-wrapper ul li a,
#live-search-header-wrapper1 ul li a,
#live-search-header-din ul li a {
    text-decoration: none;
    display: block;
}
#live-search-header-wrapper ul li a,
#live-search-header-wrapper1 ul li a,
#live-search-header-din ul li a {
    color: #000;
    font-size: 12px;
}

.live-searchul li.selected,
.live-searchul li:hover,
.live-searchul1 li.selected,
.live-searchul1 li:hover,
#live-search-header-din ul li.selected,
#live-search-header-din ul li:hover {
    background: #dadada;
}

i.fa.fa-edit.faicon.floatleft.editrestrictedcmp {font-size: 16px;cursor: pointer; float: right;}
i.fa.fa-trash-o.faicon.floatleft.deleterestrictedcmp {margin: 0 7px;font-size: 16px;cursor: pointer;}
.boxshadow{
    background-color: white;
    list-style: none;
    width: 100%;
    overflow: hidden;
    padding: 30px;
    box-sizing: border-box;
    margin: 35px 0;
    border: 1px solid #e7ecf3;
}
.company_asses { text-align: right; }
.input {
    margin: 12px 0 0 0;
}
label.control-label { color: #000; }

.form_heading{
    text-decoration: underline;
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Gotham Rounded';
    text-align: center;
}
.votingcss{margin: 50px auto;}
.exitpollcss{margin: 50px auto; width: 100%;}

.selvt{
    border-radius: 0;
    line-height: 30px;
    width: 60%;    
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #DDE2E8;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.nmvt{
    border-radius: 0;
    line-height: 30px;
    width: 100%;    
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #DDE2E8;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* ----------------- Chart CSS ----------------- */
.progress .progress-bar{position:relative;} 

.voteclass {
    float: left;
    margin-right: 7px;
    border-right: 1px dotted #dadada;
    padding-right: 10px;
    font-size: 12px;
}
.cmdot {
    width: 14px;
    height: 14px;
    border: 3px solid #d2d3d2;
    border-radius: 14px;
    margin: 2px 5px 2px 0px;
}
.assentcolor { background: #26B99A; }
.dessentcolor { background: #d9534f; }
.interestedcolor { background: #F39C12; }
/* ----------------- Chart CSS ----------------- */
#wrtyrnotes .form-control {
    text-transform: capitalize;
    font-size: 14px;
    font-family: sans-serif;
}
.services_search {
    display: none;
    margin: 10px auto;
}
.header-search-wrapper {
    width: 100%;
    *height: 40px;
    display: block;
    position: relative;
    max-width: 500px;
}

.table-responsive {
    overflow-x: initial;
    min-height: 0.01%;
}

ul .live-searchul{overflow: scroll;}

div#live-search-header-wrapper {
    height: 100px;
    overflow: scroll;
}
i.fa.fa-edit.faicon.floatleft.editrestrictedemp {margin: 0 7px; font-size: 16px;cursor: pointer;}
i.fa.fa-trash-o.faicon.floatleft.deleterestrictedemp {margin: 0 7px;font-size: 16px;cursor: pointer;}
.opening { float: right; }
button.btn.openingblnc { background: #522c8f; color: white;}
.bg_white {background: #fff;box-shadow: 2px 3px 5px #ccc;padding: 10px 5px;}

/*################ Pagination Start ######################*/
.paginationmn .paginateul{float: left;padding: 0px;margin: 0px auto}
.paginationmn .pagination ul li.inactive,
.paginationmn .pagination ul li.inactive:hover{background-color:#ededed;
color:#bababa; border:1px solid #bababa; cursor: default;}
.paginationmn .data ul li{ list-style: none; font-family: verdana; margin: 5px 0 5px 0; color: #000;font-size: 13px;}
.paginationmn .pagination{width: 100%;margin: 0px auto; /*height: 25px;*/}
.paginationmn .pagination ul li{
    list-style: none;
    float: left;
    border: 1px solid #5d6677;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial;
    font-size: 14px;
    color: #5d6677;
    font-weight: bold;
    background-color: #f2f2f2;
    width: auto !important;
    cursor: pointer;
}

table#datableabhi {
    border: 0;
}