.page-header {
    padding-bottom: 9px !important;
    margin: 40px 0 20px !important;
    border-bottom: 1px solid #eee;
    font-size: 26px;
    color: #000;
}

#termsandconditions {
    width: 43%;
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    border-radius: 5px;
    margin: 0 auto;
}

.form-controll {
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 3px;
    border-radius: 3px;
}

.trading-resources {
    margin: 19px 0;
}

#termsandconditions h5 {
    color: #000;
}

    #fileToUpload {
    border: 1px solid #ccc;
    padding: 9px;
    width: 100%;
    margin-bottom: 20px;
}

.h1_heading {
    margin-bottom: 20px;
}