.page-header {
    padding-bottom: 9px !important;
    margin: 40px 0 20px !important;
    border-bottom: 1px solid #eee;
    font-size: 26px;
    color: #000;
}

form#termsandconditions {
    width: 33%;
    background: #fff;
    padding: 10px;
    /* position: absolute; */
  /*   left: 42% */;
    box-shadow: 5px 3px 5px #ccc;
    border-radius: 5px;
    margin: 0 auto;
}

.form-controll {
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 3px;
    border-radius: 3px;
}
.trading-resources {
    margin: 19px 0;
}
#termsandconditions h4, #termsandconditions h5 { color:#000; }

input#fileToUpload {
    border: 1px solid #ccc;
    padding: 9px;
}