body.nav-md .container.body .right_col.right_col {
    min-height: 700px;
    height: auto;
    padding-bottom: 20px;
}

.text-right {
    text-align: right;
}

/* body{background: #fff !important;} */

.step_1 .sec {
    display: block;
    background: #2a3f54;
    padding: 12px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    font-style: normal;
    color: #fff;
    font-weight: bold;
    float: left;
}

textarea.width_100 {
    width: 100%;
}

.step_1 {
    float: left;
    width: 100%;
    position: relative;
    margin: 0 0 30px 0;
}

.step_1 .sec:before {
    content: "";
    border-bottom: 2px solid rgb(204, 204, 204);
    width: 89%;
    position: absolute;
    top: 35px;
    right: 0;
    left: 50px;
}

.step_1 p {
    padding-top: 3 px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    padding-left: 13px;
    display: inline-block;
}

/*----------------------- General CSS START ------------------------------*/
.panel.panel-primary {
    border: none;
}

div#datableabhi_wrapper {
    padding: 20px;
    box-shadow: 0px 1px 12px 4px #ccc;
}

input[type="search"] {
    border: none;
    border: 1px solid #ccc;
    padding: 5px;
}

.table th {
    color: #fff;
    background: #7c6cad;
}

th.sorting,
th.sorting_asc {
    color: #fff;
}

.h1_heading {
    /* font-family: 'Gotham Rounded'; */
    color: #000;
    padding-bottom: 14px;
    text-align: center;
}

.horizontal_line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.mainboxcss {
    width: 270px;
    height: 275px;
    margin: 10px;
    padding: 4px 0px 0px 0px;
    border-radius: 100%;
}

.pad_p a p:hover,
.pad_p a p:focus,
.anchortagch:hover,
.anchortagch:focus {
    color: #fff !important;
}

.pad_p a p:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.heading_center {
    text-shadow: 0px 2px 1px rgba(34, 34, 34, 0.51);
}

/*----------------------- General CSS END ------------------------------*/
/*----------------------- Form CSS Start ------------------------------*/
.formcss {
    background-color: white;
    list-style: none;
    width: 100%;
    overflow: hidden;
    padding: 20px 25px 25px;
    margin: 15px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -o-transition: opacity 0.8s, -o-transform 0.8s;
    -ms-transition: opacity 0.8s, -ms-transform 0.8s;
    -moz-transition: opacity 0.8s, -moz-transform 0.8s;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.form_pad {
    padding: 25px;
}

.form_heading {
    text-decoration: underline;
    padding: 5px;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Gotham Rounded';
    text-align: center;
}

.form_fields {
    border-radius: 3px;
    line-height: 30px;
    width: 100%;
    /*margin: 0px 0px 20px 0px;*/
    outline: none;
    border: 1px solid #ddd;
}

label.control-label {
    padding: 5px 0;
    color: #000;
    display: block;
    margin: 8px 0 0 0;
}

.note {
    color: #000;
    padding: 12px 0;
}

.genderlbltxt {
    padding-right: 15px;
    padding-left: 5px;
}

.gensec {
    margin-top: 25px;
}

.litiboxshadow {
    width: 50%;
    box-shadow: 0px 2px 7px;
    padding: 15px;
    height: auto;
    margin: auto;
    margin: 20px auto;
}

.upload_label {
    text-align: center;
    display: block;
    margin: 0px auto;
    margin-bottom: 10px;
    border-bottom: 2px dotted #dadada;
    padding-bottom: 5px;
}

.choose_files input {
    padding-left: 10px;
}

.faicon {
    cursor: pointer;
    font-size: 18px;
    padding: 10px 0px;
}

.faicon:hover,
.faicon:focus,
.faicon:active {
    color: black;
}

.btnsubmitme {
    clear: both;
}

.btnsubmitme .btn-primary {
    margin: 10px auto;
    display: block;
}

.mar_0 {
    margin: 0px;
}

.show_shadow {
    box-shadow: 0px 2px 5px #aaa;
    display: block;
    margin: 40px;
    padding: 15px;
}

/*----------------------- Form CSS End ------------------------------*/
/*-------------------------- Upload Section CSS END-----------------------------*/
.boxshadow {
    width: 50%;
    box-shadow: 0px 2px 7px;
    padding: 15px;
    height: auto;
    margin: auto;
    margin: 20px auto;
}

.labelcss {
    text-align: center;
    display: block;
    margin: 0px auto;
    margin-bottom: 10px;
    border-bottom: 2px dotted #dadada;
    padding-bottom: 5px;
}

.choose_excelfiles input {
    *margin: 0px auto;
    *padding-left: 66px;
}

.updatefile {
    margin: 0px auto;
    margin-top: 10px
}

.uploadeventsbtn {
    margin: 10px;
}

/*-------------------------- Upload Section CSS END-----------------------------*/
/* ####################### VIKI DASHBOARD CSS START ####################### */
/* -------------------- logan democss START -------------------- */
html,
body,
aside {
    display: block;
    margin: 0;
    padding: 0;
}

aside {
    width: 233px;
    min-height: 500px;
}

aside.right {
    margin-left: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


}

@media screen and (max-width: 1000px) {
    body {
        padding: 20px;
    }
}

@media screen and (max-width: 767px) {

    aside {
        width: auto;
    }
}

/* -------------------- logan democss END -------------------- */

/
/* -------------------- Structure CSS START -------------------- */
.panel a {
    text-decoration: none;
}

.panel a:hover {
    text-decoration: none;
}

.hearingsection {
    width: 470px;
}

.breadcum {
    max-width: 1200px;
    margin: 0px auto;
}

.icon-toggle {
    float: right;
}

/* -------------------- Structure CSS END -------------------- */


/* -------------------- Middle Section START -------------------- */

/* -------------------- Middle Section END -------------------- */

/* -------------------- Table Section START -------------------- */
.accordion .panel-heading {
    background: #f7f7f7;
}

.accordion .panel:hover {
    background: #fff;
}

.table-liti {
    padding: 15px;
}

table {
    *border: 1px solid #ddd;
    border-collapse: collapse;
}

thead td,
th {
    *border: 1px solid #ddd;
    border-bottom: 1px solid #666;
    padding: 8px;
    color: #555;
    font-size: 13px;
    font-family: sans-serif;
}

tbody tr>td {
    padding: 8px;
    color: #696969;
    font-size: 13px;
}

tbody tr {
    border-top: 1px solid #ddd;
}

/* -------------------- Table Section END -------------------- */
.cssnumrws {
    padding: 10px;
}

/*################ Pagination Start ######################*/
.paginationmn .paginateul {
    float: left;
    padding: 0px;
    margin: 0px auto
}

.paginationmn .pagination ul li.inactive,
.paginationmn .pagination ul li.inactive:hover {
    background-color: #ededed;
    color: #bababa;
    border: 1px solid #bababa;
    cursor: default;
}

.paginationmn .data ul li {
    list-style: none;
    font-family: verdana;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 13px;
}

.paginationmn .pagination {
    width: 100%;
    margin: 0px auto;
    /*height: 25px;*/
}

.paginationmn .pagination ul li {
    list-style: none;
    float: left;
    border: 1px solid #5d6677;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial;
    font-size: 14px;
    color: #5d6677;
    font-weight: bold;
    background-color: #f2f2f2;
    width: auto !important;
}

.paginationmn .pagination ul li:hover {
    color: #fff;
    background-color: #5d6677;
    cursor: pointer;
}

.go_button {
    background: transparent;
    border: 1px solid #0747A6;
    color: #000000;
    padding: 2px 6px 2px 6px;
    cursor: pointer;
    /*position:absolute;*/
    margin-top: -1px;
}

.total {
    float: right;
    font-family: 'robotoregular';
    color: #666;
    font-size: 12px;
}

.gotobtn {
    text-align: center;
}

.ttolmnbtn {
    margin: 5px auto;
}

.gobtnman {
    margin: 1px 10px;
    border-right: 1px dotted #5d6677;
    padding-right: 10px;
}

.paginationmn.topmnp .pagination {
    border-bottom: 1px dotted #dadada;
    margin-bottom: 30px;
    padding-bottom: 12px;
}

.floatright.gobtnmnh {
    float: right;
}

.textarea textarea.disabled {
    width: 120px;
}

.floatright.ttolmnbtn {
    float: right;
}

input.gotobtn:hover {
    background: #5d6677;
    color: #fff;
}

.go_button:hover {
    background: #5d6677;
}

input.gotobtn {
    padding: 2px 6px 2px 6px;
    border: 1px solid #5d6677;
}

.cssuprslctn {
    margin-bottom: 20px;
}

.floatleft {
    float: left;
}

/*################ Pagination End ######################*/

/*Search Function*/
.header-search-wrapper {
    width: 100%;
    *height: 40px;
    display: block;
    position: relative;
    max-width: 500px;
}

button.btn.btn-default.btn-default-one {
    background: #1A82C3;
    color: #fff !important;
}

.header-search-wrapper .fa-search {
    position: absolute;
    font-size: 18px;
    top: 10px;
    left: 10px;
    line-height: normal;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    height: auto;
}

#search-box.header-search-input,
#search-box1.header-search-input1 {
    display: block;
    padding: 7.5px 7px 7.5px 40px;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    margin: 0px auto;
    height: 38px;
    /*max-width: 500px;*/
    border: 1px solid #ddd;
}

#search-box,
#search-box1 {
    padding: 10px;
    border: #F0F0F0 1px solid;
}

#search-box {
    width: 80%;
}

#live-search-header-wrapper {
    height: 100px;
}

#live-search-header-wrapper,
#live-search-header-wrapper1,
#live-search-header-din {
    width: 100%;
    *min-height: 65px;
    position: absolute;
    z-index: 10;
    padding: 0px 0px;
    background-color: #FFF;
    border: 0px solid #DDD;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: none;
    max-height: 340px;
    overflow: hidden;
    margin-top: 1px;
    top: 39px;
    max-width: 500px;
}

button#upbtn {
    margin-right: 0px;
    margin-top: 20px;
    background: #522c8f;
    border: 1px solid #522c8f;
}

#live-search-header-wrapper ul,
#live-search-header-wrapper1 ul,
#live-search-header-din ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.search-row {
    display: block;
    margin: 0px auto;
    text-align: center;
    max-width: 500px;
    margin-left: 0px;
}

/*   */
#search-box,
#search-box1 {
    padding: 10px;
    border: #F0F0F0 1px solid;
}

#search-box.header-search-input,
#search-box1.header-search-input1 {
    display: block;
    padding: 7.5px 7px 7.5px 40px;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 12px;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    height: 38px;
    margin: 0px auto;
    /*max-width: 500px;*/
    border: 1px solid #ddd;
}

.header-search-wrapper .fa-search {
    position: absolute;
    font-size: 18px;
    top: 10px;
    left: 10px;
    line-height: normal;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    height: auto;
}

.faicon {
    margin: 0px 20px;
}

.fa-search.active {
    color: #373F89;
}

.header-search-wrapper {
    width: 100%;
    *height: 40px;
    display: block;
    position: relative;
    max-width: 500px;
}

#live-search-header-wrapper,
#live-search-header-wrapper1,
#live-search-header-din {
    width: 100%;
    *min-height: 65px;
    position: absolute;
    z-index: 10;
    padding: 0px 0px;
    background-color: #FFF;
    border: 0px solid #DDD;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: none;
    max-height: 340px;
    overflow: hidden;
    margin-top: 1px;
    top: 39px;
    max-width: 500px;
}

#live-search-header-wrapper ul,
#live-search-header-wrapper1 ul,
#live-search-header-din ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#live-search-header-wrapper ul li,
#live-search-header-wrapper1 ul li,
#live-search-header-din ul li {
    cursor: pointer;
    width: 100%;
    line-height: normal;
    padding: 10px 5px;
    float: none;
    clear: both;
    color: #000;
    font-size: 12px;
}

#live-search-header-wrapper ul li a,
#live-search-header-wrapper1 ul li a,
#live-search-header-din ul li a {
    text-decoration: none;
    display: block;
}

#live-search-header-wrapper ul li a,
#live-search-header-wrapper1 ul li a,
#live-search-header-din ul li a {
    color: #000;
    font-size: 12px;
}

.live-searchul li.selected,
.live-searchul li:hover,
.live-searchul1 li.selected,
.live-searchul1 li:hover,
#live-search-header-din ul li.selected,
#live-search-header-din ul li:hover {
    background: #dadada;
}

i.fa.fa-edit.faicon.floatleft.editrestrictedcmp {
    margin: 0 7px;
    font-size: 16px;
    cursor: pointer;
}

i.fa.fa-trash-o.faicon.floatleft.deleterestrictedcmp {
    margin: 0 7px;
    font-size: 16px;
    cursor: pointer;
}

.boxshadow {
    background-color: white;
    list-style: none;
    width: 100%;
    overflow: hidden;
    padding: 30px;
    box-sizing: border-box;
    margin: 35px 0;
    border: 1px solid #e7ecf3;
}

.company_asses {
    text-align: right;
    margin: 11px 0;
}

.input {
    margin: 0px 0 0 0;
}

label.control-label {
    color: #000;
}

.form_heading {
    text-decoration: underline;
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Gotham Rounded';
    text-align: center;
}

.votingcss {
    margin: 50px auto;
}

.services_search {
    display: none;
    margin: 10px auto;
}

.header-search-wrapper {
    width: 100%;
    *height: 40px;
    display: block;
    position: relative;
    max-width: 500px;
}

.table-responsive {
    overflow-x: initial;
    min-height: 0.01%;
}

ul .live-searchul {
    overflow: scroll;
}

div#live-search-header-wrapper {
    height: 100px;
}

input.btn.btn-primary.addupsitype.btnlblne {
    margin-right: 0;
    margin-top: 20px;
}

i.fa.fa-trash-o.faicon.dbaprvl {
    margin-top: 33px;
    color: #f95555;
}

input#enddate {
    margin: 0;
}

input#search-box {
    border-radius: 4px;
}

input#search-box {
    max-width: initial;
    width: 122%;
    border-radius: 4px;
}

@media only screen and (min-width: 1440px) {
    .nav-sm input#search-box {
        width: 119% !important;
    }

    input#search-box {
        width: 104% !important;
    }
}

@media only screen and (max-width: 1366px) {

    .nav-sm input#search-box {
        width: 113%;
    }

    input#search-box {
        max-width: initial;
        width: 114%;
    }

}

@media only screen and (max-width: 1024px) {
    input#search-box {
        max-width: initial;
        width: 100%;
    }
}

.modal-content {
    padding: 0px;
}

div.div {
    margin: 5px 0;
}